body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Add styling for the legend */
.legend {
    background: white;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    border-radius: 5px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
  }